<div class="page-container">
    <div class="form-wrapper">
        <div class="header">
            <i class="bi bi-building"></i>
            <img src="icon-heder.svg" alt="">
            <span class="title">Your Home</span>
        </div>

        <div class="card">
            <div class="card-header">
                <h2>Register as Building Manager</h2>
                <p>Create your account to start managing your buildings</p>
            </div>

            <!-- <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-grid"> -->
            <form class="form-grid">
                <mat-form-field appearance="outline">
                    <mat-label>FirstName</mat-label>
                    <input type="text" [formControl]="FirstNameCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (FirstNameCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (FirstNameCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>LastName</mat-label>
                    <input type="text" [formControl]="LastNameCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (LastNameCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (LastNameCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>PhoneNumber</mat-label>
                    <input type="text" [formControl]="PhoneNumberCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (PhoneNumberCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (PhoneNumberCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" [formControl]="PasswordCtrl" matInput>
                    @if (PasswordCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (PasswordCtrl.errors && PasswordCtrl.hasError('minlength')) {
                    <mat-error>It's too short. Min: 8 is required.</mat-error>
                    }
                    @else if(PasswordCtrl.errors && PasswordCtrl.hasError('maxlength')) {
                    <mat-error>It's too long. Max: 20 characters.</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" [formControl]="ConfirmPasswordCtrl" matInput>
                    @if (ConfirmPasswordCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('minlength')) {
                    <mat-error>It's too short. Min: {{ConfirmPasswordCtrl.errors['minlength'].requiredLength}}
                        is
                        required.</mat-error>
                    }
                    @else if(ConfirmPasswordCtrl.errors && ConfirmPasswordCtrl.hasError('maxlength')) {
                    <mat-error>It's too long. Max: {{ConfirmPasswordCtrl.errors['maxlength'].requiredLength}}
                        characters.</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>city</mat-label>
                    <input type="text" [formControl]="CityCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (CityCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (CityCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>country</mat-label>
                    <input type="text" [formControl]="CountryCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (CountryCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (CountryCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Plaque</mat-label>
                    <input type="text" [formControl]="PlaqueCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (PlaqueCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (PlaqueCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Floor</mat-label>
                    <input type="text" [formControl]="FloorCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (FloorCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (FloorCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Unit</mat-label>
                    <input type="text" [formControl]="UnitCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (UnitCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (UnitCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <mat-form-field class="100" appearance="outline">
                    <mat-label>Post code</mat-label>
                    <input type="text" [formControl]="PostCodeCtrl" matInput>
                    <mat-hint>Between 1 to 30 characters.</mat-hint>
                    @if (PostCodeCtrl.hasError('required')) {
                    <mat-error>This field is required.</mat-error>
                    }
                    @else if (PostCodeCtrl.hasError("maxlength")) {
                    <mat-error>Min 30 characters</mat-error>
                    }
                </mat-form-field>

                <!-- <button type="submit" [disabled]="isLoading" class="submit-btn">
                    {{ isLoading ? 'Creating account...' : 'Create Manager Account' }}
                </button> -->

                <button (click)="register()" type="submit" class="submit-btn">
                    Create Manager Account
                </button>
            </form>

            <div class="footer">
                <p>
                    Already have an account?
                    <a routerLink="/account/loginbuilding">Sign in</a>
                </p>
            </div>
        </div>

        <div class="back-home">
            <a routerLink="/">← Back to home</a>
        </div>
    </div>
</div>