features-grid feature-card .page-wrapper {
  min-height: 100vh;
  background: linear-gradient(to bottom, #fff, #f0fdf4);
  display: flex;
  flex-direction: column;
  background-color: #059669;
}

.page-wrapper {
  background-color: #c2f0e1;
}

/* Hero Section */
.hero {
  padding: 2rem 1rem;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.hero-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.125rem;
  margin-bottom: 2rem;
  color: #555;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s ease;
}

.btn-primary {
  background-color: #055e40;
  color: white;
}

.btn-primary:hover {
  background-color: #10b981;
}

.btn-outline {
  border: 2px solid #055e40;
  color: #055e40;
}

.btn-outline:hover {
  background-color: #ecfdf5;
}

.hero-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.hero-images img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* Features */
.features {
  background: white;
  padding: 2rem 4rem;
  text-align: center;
}

.features h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.features-grid {
  // text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  // margin-top: 1rem;
}

.feature-card {
  .first {
    // background-color: #059669;
    color: #059669;
    size: 30000px;
    size-adjust: 300px;
    // font-size: 30px;
    display: flex;
    align-self: center;
  }

  // display: flex;
  border: 1px solid #ddd;
  padding: 2rem;
  border-radius: 12px;
  background: #e1e1e1;
  text-align: left;
}

/* How It Works */
.how-it-works {
  padding: 5rem 1rem;
  text-align: center;
}

.how-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin-top: 2rem;
}

.how-box h3 {
  color: #10b981;
  margin-bottom: 1rem;
}

.how-box ol {
  list-style: decimal;
  padding-left: 1.5rem;
  text-align: left;
  color: #444;
}

.how-box li {
  margin-bottom: 1rem;
}

/* CTA */
.cta {
  background: linear-gradient(to right, #f0fdf4, #ecfdf5);
  text-align: center;
  padding: 5rem 1rem;
}

.cta h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Footer */
.footer {
  border-top: 1px solid #eee;
  background: white;
  padding: 2rem 1rem;
  text-align: center;
}

.footer-content {
  max-width: 900px;
  margin: auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  color: #10b981;
  margin-bottom: 0.5rem;
}