<!-- <div class="select-role-page">
  <div class="container">
    <div class="header">
      <h1>Welcome to Your Home</h1>
      <p>Please choose how you want to log in</p>
    </div>

    <div class="card-container">
      <div class="role-card" >
        <img src="assets/building.svg" alt="Building Manager" />
        <h2>Building Manager</h2>
      </div>

      <div class="role-card" >
        <img src="assets/wrench.svg" alt="Technician" />
        <h2>Technician</h2>
      </div>
    </div>
  </div>
</div> -->

<h1>not found</h1>