.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  border-bottom: 1px solid #eee;
  padding-left: 20px;
  padding-right: 20px;
}

.bmenu{
  color: #161d1a;
  background-color: #abdecd;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.logo-icon {
  font-size: 1.5rem;
  color: #10b981;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: bold;
  color: #111;
}

/* Desktop Navigation */
.nav-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 500;
  color: #666;
  text-decoration: none;
  transition: color 0.2s ease;
}

.nav-link:hover {
  color: #000;
}

/* Mobile Button */
.menu-btn {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
}

/* Mobile Menu */
.nav-mobile {
  display: none;
  border-top: 1px solid #eee;
  background: white;
}

.nav-mobile-menu {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

// @media (max-width: 768px) {
//   .nav-desktop {
//     display: none;
//   }

//   .menu-btn {
//     display: block;
//   }

//   .nav-mobile {
//     display: block;
//   }
// }
